@charset "UTF-8";
/*キーカラー*/
/*フォントカラー*/
/*リンクカラー*/
/*ボタン*/
/*ボーダー*/
/* Reset Style */
html {
  overflow-y: scroll;
  font-size: 62.5%; }

body, div, dl, dt, dd, ul, ol, li, h1, h2, h3, h4, h5, h6, pre, form, fieldset, input, textarea, p, blockquote, th, td {
  margin: 0;
  padding: 0; }

address, caption, cite, code, dfn, em, strong, th, var {
  font-style: normal; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

caption, th {
  text-align: left; }

q:before, q:after {
  content: ''; }

img,
object,
embed {
  vertical-align: bottom; }

hr, legend {
  display: none; }

h1, h2, h3, h4, h5, h6 {
  font-size: 100%; }

img, abbr, acronym, fieldset {
  border: 0; }

li {
  list-style-type: none; }

body {
  *font-size: small;
  *font: x-small;
  word-wrap: break-word; }

select, input, button, textarea {
  font: 99% arial,helvetica,clean,sans-serif; }

table {
  font-size: inherit;
  font: 100%; }

pre, code, kbd, samp, tt {
  font-family: monospace;
  *font-size: 108%;
  line-height: 100%; }

* {
  box-sizing: border-box; }

html {
  height: 100%; }

body {
  margin: 0;
  padding: 0;
  font-size: 14px;
  line-height: 1.8em;
  font-family: "Verdana", "ヒラギノ角ゴシック Pro", "Hiragino Kaku Gothic Pro", メイリオ, Meiryo, Osaka, "ＭＳ Ｐゴシック", "MS PGothic", sans-serif !important;
  color: #444;
  height: 100%;
  background: #fff; }

li {
  list-style: none; }

a {
  color: #28657E;
  text-decoration: none; }
  a:hover {
    text-decoration: underline; }

.wrap {
  width: 100%;
  position: relative;
  background: #fff; }

header {
  text-align: left;
  background: #fff; }
  header h1 {
    font-weight: normal;
    font-size: 11px;
    font-size: 11px;
    font-size: 1.1rem;
    line-height: 2.18182;
    margin-left: 40px;
    padding: 20px 0; }

nav {
  background: #fff none repeat scroll 0 0;
  min-height: 280px;
  position: fixed;
  left: 0px;
  top: 46px;
  width: 260px;
  z-index: 1;
  padding: 40px; }
  nav a {
    color: #444; }
  nav ul {
    margin: 35px 0; }
    nav ul li {
      font-size: 14px;
      font-size: 14px;
      font-size: 1.4rem;
      line-height: 2.42857; }
  nav .request {
    margin-right: 40px; }
    nav .request a {
      color: #EB980E; }

.main {
  margin-left: 300px;
  position: relative;
  background: #ff0000;
  min-width: 1080px;
  margin-right: 1.85185%;
  /*height: 0px;*/ }

/*キーカラー*/
/*フォントカラー*/
/*リンクカラー*/
/*ボタン*/
/*ボーダー*/
.top_inner {
  margin: 0 auto;
  width: 100%;
  text-align: left;
  background: #fff;
  position: relative; }
  .top_inner .subtitle {
    position: absolute;
    left: 0px;
    top: 130px;
    z-index: 2;
    width: 100%; }
    .top_inner .subtitle svg {
      /*width: 800px;*/
      width: 700px;
      fill: #ff0000; }
    .top_inner .subtitle .defs {
      display: none; }
  .top_inner .top-img {
    background: url(../img/top/img_top.jpg) no-repeat 0 0;
    background-position: left center;
    background-size: cover;
    padding-top: calc(100% * 400 / 850);
    z-index: -1;
    margin-left: 21.2963%;
    min-width: 850px;
    /*@include widtnPercent( 1080, 850 );
    background: url(../img/top/img_top.jpg) no-repeat 0 0;
    padding-bottom: calc(100% * 600 / 850);
    background-size: 100% auto;
    z-index: -1;*/
    /*@include backgroundsize(600, 850);
    @include widtnPercent( 1080, 850);*/
    /*width: 860px;
    height: 100%;*/
    /*clip: rect(0px, 850px, 600px, 0px);*/
    /*@include backgroundsize(600,850);*/ }
