html{
  height: 100%;
}
  body{
  margin: 0;
  padding: 0;
  font-size: 14px;
  line-height: 1.8em;
  font-family:  "Verdana",'ヒラギノ角ゴシック Pro', 'Hiragino Kaku Gothic Pro', メイリオ, Meiryo, Osaka, 'ＭＳ Ｐゴシック', 'MS PGothic', sans-serif!important;
  color: $basecolor;
  height: 100%;
  background: #fff;
}

li{
  list-style: none;
}

a{
  color: $linkcolor;
  text-decoration: none;

}

p{
  color: $txtxcolor;
  @include fts(14,32);
}

.wrap {
  width: 100%;
  position: relative;
  background: #fff;
}

header{
  text-align: right;
  background: #fff;
  @include widtnPercent(1440,1360);
  @include center();
  text-align: left;
  padding: 20px 0 30px;

  @include respond(md){
    display: none;

  };

  h1{
    font-weight: normal;
    @include fts(11);
    display: inline-block;
  }
}

nav{

  @include respond(pc){

  background: #fff;
  min-height: 280px;
  position: fixed;
  left: 2.77%;
  top: 60px;
  width: $navwidth - 100;
  z-index: 1;
  padding: 40px 0px;

}

  @include respond(md){
    width:95%;
    height:100px;
    @include center();
  }

  .logo{

    height: 40px;
    width: 120px;

    @include respond(md){
      position: absolute;
      left: 20px;
      top: 20px;
    }
    img{
      margin: 0;
      padding: 0;
    }
  }

  a{
    color:$basecolor;
  }

  .main-navi{
    @include respond(pc){
      margin: 35px 0 20px;
    }
    @include respond(md){
      @include widtnPercent(768,600);
      position: absolute;
      right: 0;
      top:30px;
    }

    li{
      @include fts(13,34);

      @include respond(md){
        display: inline;
        margin-left: 8%;
      }



      a{
        font-weight: bold;
      }
    }
  }
}

.request {

  @include respond(md){
    position: absolute;
    right: 0;

    a{
      display: block;
      background: $btcolor;
      padding: 10px 30px;

      .icon{
        display: none;
      }

      &:hover{
        background: #f1f1f1;
      }
    }
  }



  @include respond(pc){

    width: 100%;
    @include fts(12);
    position: relative;

    a{
      display: block;
      background: $btcolor;
      padding: 10px 0 10px 15px;

      .icon{
        width: $iconwidth/2;
        height: $iconwidth/2;
        fill:$txtxcolor;
        position: absolute;
        right: 10px;
        top: 15px;
      }

      &:hover{
        background: #f1f1f1;
      }
    }

  }



}

/*
.request {
  width: 150px;
  @include fts(12);

  a{
    background: $btcolor;
    display: block;
    color: #fff;
    font-weight: bold;
    padding: 4px 0 4px 15px;
    position: relative;

    &:hover{
      background: #FFD85A;
    }

    .icon{
      width: $iconwidth/2;
      height: $iconwidth/2;
      fill:#fff;
      position: absolute;
      top: 50%;
      margin-top: -$iconwidth/4;
      right: 10px;
    }
  }


}*/


.main{

  @include respond(pc){
    margin-left: $navwidth + $navleft;
    position: relative;
    min-width: 768px;
    @include parsent(40,1440);
  }

}

.latest{
  background: $bordercolor;
  width: 100%;
}
