html{
  height: 100%;
}
  body{
  margin: 0;
  padding: 0;
  font-size: 14px;
  line-height: 1.8em;
  font-family:  "Verdana",'ヒラギノ角ゴシック Pro', 'Hiragino Kaku Gothic Pro', メイリオ, Meiryo, Osaka, 'ＭＳ Ｐゴシック', 'MS PGothic', sans-serif!important;
  color: $basecolor;
  height: 100%;
  background: #fff;
}

li{
  list-style: none;
}

a{
  color: $linkcolor;
  text-decoration: none;

  &:hover{
    text-decoration: underline;
  }
}

.wrap {
  width: 100% - 2.7*2;
  height: 100%;
  position: relative;
  @include center();
  background: #fff;
}

header{
  text-align: right;

  h1{
    font-weight: normal;
    @include fts(11);
  }
}

nav{
  background: #fff none repeat scroll 0 0;
  min-height: 280px;
  position: fixed;
  left: 2.77%;
  top: 60px;
  width: $navwidth;
  z-index: 1;
  padding: 40px;

  a{
    color:$basecolor;
  }

  ul{
    margin: 35px 0;

    li{
      @include fts(14,34);
    }
  }
  .request {
    margin-right: 40px;
    a{
      color: #EB980E;
    }
  }
}
.main{
  margin-left: $navwidth + $navleft;
  position: relative;
  background: #ff0000;
  min-width: 1080px;
}
