$circlewidth:11px;

.main-navi{

  @include respond(pc){
    margin: 35px 0 20px;
  }
  @include respond(md){
    z-index:100;
    position:absolute;
    top:87px;
    background:#fff;
    box-shadow: 0px 1px 2px 0px rgba(106,106,106,0.50);
    display:none;
    width:100%;
  }

  li{

    @include fts(13,34);

    @include respond(md){
      @include fts(16,34);
    }

    a{
      font-weight: bold;

      @include respond(md){
        padding:25px;
        display: block;
        border-top: 1px solid $bordercolor;
      }
    }
  }
}


.nav-toggle{

  @include respond(pc){
    display: none;
  }

  @include respond(md){
    display: block;
    position:absolute;
    top:31px;
    left:20px;
  }

  .menu-trigger,.menu-trigger span{
    display: inline-block;
    transition: all .4s;
    box-sizing: border-box;
  }

  .menu-trigger{
    position: relative;
    width: 32px;
    height: 26px;

    span{
      position: absolute;
      left: 0;
      width: 100%;
      height: 4px;
      background-color: #000;
      border-radius: 4px;
    }
  }

  .menu-trigger span:nth-of-type(1) {
    top: 0;
  }
  .menu-trigger span:nth-of-type(2) {
    top: $circlewidth;
  }
  .menu-trigger span:nth-of-type(3) {
    bottom: 0;
  }
}

.menu-trigger.active span:nth-of-type(1) {
	-webkit-transform: translateY($circlewidth) rotate(-45deg);
	transform: translateY($circlewidth) rotate(-45deg);
}
.menu-trigger.active span:nth-of-type(2) {
	opacity: 0;
}
.menu-trigger.active span:nth-of-type(3) {
	-webkit-transform: translateY(-$circlewidth) rotate(45deg);
	transform: translateY(-$circlewidth) rotate(45deg);
}
