.under-container {

  @include respond(pc){
    background: #fff;
  }
  @include respond(xs){
  background: #f2f2f2;
}
}

.breadcrumb {

  max-width: 1280px;
  min-width: 1000px;
  @include center();
  text-align: right;

  @include respond(md){
    display: none;
  };
  @include respond(xs){
    display: none;
  };

  li{
    display: inline;
    @include fts(12);
  }

}

.under-inner {
  @include widtnPercent(1280,1280);
  @include center();
  margin-top: 30px;
  background: #fff;
  padding-bottom: 30px;


  @include respond(xs){
    margin-top: 0px;
    width: 100%;
    background: #f2f2f2;
    padding-bottom: 0px;
  }


}

.headline{
  text-align: center;
  font-weight: bold;
  letter-spacing: 0.09em;
  @include fts(24);
  padding-bottom: 10px;
  color: #000;

  @include respond(md){
    @include fts(20);
  }

  @include respond(xs){
    width: 100%;
    text-align: left;
    @include fts(14);
    padding-bottom: 0px;

  }
}

.subheadline{
  padding-top: 30px;
  font-weight: bold;

  @include respond(md){
    @include fts(16);
    margin-bottom: 20px;
  }
  @include respond(xs){
    padding-top: 0px;
  }

}




/*about*/


.l-about{
  padding-top: 20px;

  @include respond(xs){
    padding: 30px 0 20px;
    background: #fff;
    margin-top: 0px;
  }

}

.l-about-inner{
  width: 800px;
  @include center();

  @include respond(md){
    @include widtnPercent(640,540);
  }

  @include respond(xs){
    @include widtnPercent(640,580);
  }

  p{

    @include fts(14,30);
    margin-top: 20px;

    @include respond(xs){
      @include fts(13,24);
      margin-top: 10px;
    }
  }

  dl{

    @include respond(pc){
      margin-top: 20px;
      @include cf();
    }
    @include respond(md){
      color:#000;
    }
    @include respond(xs){
      margin-top: 0px;
      color:#000;
      @include fts(13);
    }

    dt{
      @include respond(pc){
        clear: both;
        float: left;
        width: 120px;
      };

      @include respond(md){
        clear: both;
        float: left;
        @include widtnPercent(640,120);
      };

      @include respond(xs){
        width: 100%;
        margin-top:10px;
      };

    }

    dd{
      @include respond(pc){
        float: left;
        margin-bottom: 15px;
        width: 72%;
      };
      @include respond(md){
        float: left;
        margin-bottom: 15px;
        @include widtnPercent(640,520);
      };

      @include respond(xs){
        width: 100%;
      };

    }
  }


}



/*works*/

  .l-works{

  @include respond(pc){
  padding-top: 20px;
}

  @include respond(md){
    padding-top: 30px;
  }

  @include respond(xs){
    padding-top: 30px;
    background:#fff;
  }
}

.l-works-inner{

  @include respond(xs){
    @include widtnPercent(640,580);
    @include center();
    padding-bottom: 25px;
  }

}



.work-article {

  @include cf();

  @include respond(pc){
    max-width: 1378px;
    min-width: 1000px;
    @include center();
    padding-bottom: 2.5%;
  }

  @include respond(md){
    width:100%;
    @include center();
  }

  @include respond(xs){
    @include widtnPercent(640,640);
    @include center();
    background:#E4E4E4;
  }

  li{

    @include widtnPercent(1378,394);
    float: left;

    @include respond(pc){
    margin-top: 3.55%;
    margin-left: 3.55%;
  }

    @include respond(md){
      @include widtnPercent(640,275);
      margin-top: 4.8%;
      margin-left: 4.6875%;
    }

    @include respond(xs){
      @include widtnPercent(640,640);
      float:none;
      @include center();
      background:#fff;
      display:block;
      margin-bottom:15px;
      box-shadow: 0px 2px 3px 0px rgba(181,181,181,0.50);

    }



    .thumb{
      width: 100%;

      img{
        width: 100%;
        height: auto;
      }
    }
    .info {
      margin-top: 20px;

      @include respond(xs){
        padding: 4px 3.125% 20px;
      };

      h2{
        @include fts(14);

        @include respond(xs){
          color: #000;
          font-weight: bold;
        };
      }

      .job{
        @include fts(11);
        color: #656565;

        @include respond(xs){
          @include fts(11);

        };

      }
    }
  }
}
