.latest {
  //@include cf();
  background: #fff;
  overflow: hidden;
  letter-spacing: -.40em;


  @include respond(pc){
    margin-top: -4px;
    margin-left: -0.36%;

  }
  @include respond(md){
    margin-left: -0.5%;
    margin-top:-30px;
  }

  @include respond(xs){
    letter-spacing: normal;
    margin-top:-20px;
  }

}

.topworks{

  @include respond(pc){
    display: inline-block;
    vertical-align: top;
    color: #fff;
    margin-left: 0.36%;
    @include widtnPercent(1100,362);
    margin-top: 4px;
    letter-spacing: normal;

  }

  @include respond(md){
    display: inline-block;
    vertical-align: top;
    color: #fff;
    margin-left: 0.5%;
    @include widtnPercent(768,380);
    margin-top:30px;
    letter-spacing: normal;
  }

  @include respond(xs){
    margin-top:20px;
    border-bottom:1px solid $bordercolor;
    padding-bottom:20px;
  }

  a{
    display: block;
  }

  img{
    width: 100%;
    height: auto;
  }
}

section figure{

  @include respond(pc){

    background: #000 none repeat scroll 0 0;
    margin: 0 auto;
    overflow: hidden;
    position: relative;

  }

    @include respond(md){
      margin:0;
      padding:0;
    }

    @include respond(xs){
      margin:0;
      padding:0;
    }

}
.topworks figure:after {

  @include respond(pc){
    position: absolute;
    background: #fff;
    content: "";
    display: block;
    width: 90%;
    height: 1px;
    left: 5%;
    top: 50%;
    transform: scale(0);
    transition: all .9s ease-out;
  }
  @include respond(md){
    display:none;
  }

}

.topworks figure:hover:after {
  @include respond(pc){
    transform: scale(1);
  }
}

.topworks figcaption p,
.topworks figcaption h4 {
  @include respond(pc){
    position: absolute;
    text-align: center;
    color: #fff;
    width: 100%;
    opacity: 0;
    transition: all .4s ease-out .4s;
  }
}

figcaption{

  @include respond(md){
    width:100%;
    padding: 0 1.5%;
    margin-top: 15px;
  }

  @include respond(xs){
    width:100%;
    padding: 0 1.5%;
    margin-top: 15px;
  }

}

.topworks figcaption h4 {
  @include respond(pc){
    bottom: 54%;
    transform: translateY(-30px);
  }
  @include respond(md){
    color:$basecolor;
  }
  @include respond(xs){
    color:$basecolor;
  }
}
.topworks figcaption p {
  @include respond(pc){
    top: 52%;
    transform: translateY(30px);
    @include fts(16);
  }
  @include respond(md){
    color:$txtxcolor;
    @include fts(14);
  }
}
.topworks figure:hover figcaption p,
.topworks figure:hover figcaption h4 {
  @include respond(pc){
    opacity: 1;
    color: #fff;
    transform: translateY(0);
  }
}

.topworks figure img {
  @include respond(pc){
    transition: all 1.2s ease-out;
  }
}
.topworks figure:hover img {
  @include respond(pc){
    opacity: .4;
    transform: scale(1.3);
  }
}
