.latest {
  //@include cf();
  background: #fff;
  overflow: hidden;
  letter-spacing: -.40em;
  margin-left: -0.18%;
  margin-top: -2px;
  //@include cf();
}

.topworks{
  color: #fff;
  display: inline-block;
  letter-spacing: normal;
  vertical-align: top;
  @include widtnPercent(1100,364);

  img{
    width: 100%;
    height: auto;
  }
}

section figure{
  background: #000 none repeat scroll 0 0;
    /*height: 266px;*/
    margin: 0 auto;
    overflow: hidden;
    position: relative;

    /*display: inline-block;
    vertical-align: top;

    letter-spacing: normal;
    @include widtnPercent(1100,364);//3列で表示
    margin-left: 0.18%;
    margin-top: 2px;*/
}

.topworks figure:after {
    position: absolute;
    background: #fff;
    content: "";
    display: block;
    width: 90%;
    height: 1px;
    left: 5%;
    top: 50%;
    transform: scale(0);
    transition: all .9s ease-out;
}

.topworks figure:hover:after {
    transform: scale(1);
}

.topworks figcaption p,
.topworks figcaption h3 {
    position: absolute;
    text-align: center;
    color: #fff;
    width: 100%;
    opacity: 0;
    transition: all .4s ease-out .4s;
}

.topworks figcaption h3 {
    bottom: 51%;
    transform: translateY(-30px);
}
.topworks figcaption p {
    top: 52%;
    transform: translateY(30px);
}
.topworks figure:hover figcaption p,
.topworks figure:hover figcaption h3 {
    opacity: 1;
    color: #fff;
    transform: translateY(0);
}

.topworks figure img {
    transition: all 1.2s ease-out;
}
.topworks figure:hover img {
    opacity: .4;
    transform: scale(1.3);
}
