/*$h: (194/1235)*10000%)/100;*/
/*chachテキストの高さ*/

$service-color:#37DDB8;

$chach_txt:15;

.top_inner {
  margin: 0 auto;
  width: 100%;
  text-align: left;
  background: #fff;
  position: relative;

  .subtitle{
    position:absolute;
    left:0px;
    top:50%-$chach_txt;
    z-index:2;

    svg{
      /*width: 800px;*/
      width: 700px;
    }
    .defs{
      display: none;
    }
  }


  .top-img{
    background: url(../img/top/img_top.jpg) no-repeat 0 0;
    background-position:left center;
    background-size:cover;
    padding-top: calc(100% * 400 / 850);
    z-index: -1;
    margin-left: (230 / 1080) *100%;
    min-width: 480px;
  }
}

/*共通*/
.top-contents {
  margin-top: 50px;

  h3{
    @include fts(12);
    margin-bottom: 20px;
    color: #000;
  }
}

/*service*/

$servive-margin:8px;
$service-color:#f1f1f1;

.service-box{

  margin-top: $basemt;
  @include cf();
  background: #9AD8E0;
  letter-spacing: -.40em;//隙間消去用
  padding-bottom: $servive-margin;

  .service-name{
    @include widtnPercent(1080,260);
    display: inline-block;
    vertical-align: top;
    letter-spacing:normal;//隙間消去用
    margin-top: $servive-margin;
    margin-left: 0.74%;
  }

  .service-title{
    text-align: center;
    background: #fff;
    padding: 30px 0;
    border-bottom: 1px solid $service-color;


    em{
      @include fts(15);
      font-weight: bold;
      display: block;
      position: relative;
      padding-bottom: 23px;

      &:before,&:after{
        background: #00C793;
        bottom: 9px;
        content: "";
        height: 2px;
        left: 0;
        margin: auto;
        position: absolute;
        right: 0;
        width: 25px;
      }
    }

    span{
      display: block;
      @include fts(9);
      font-weight: normal;
    }
  }

  .service-detail{
    background: #fff;
  }

  .service-detail{
    padding: 20px 20px 25px;
    @include fts(13,32);
    display: flex;

    li{
      list-style: inside;
    }
  }

}
