/*$h: (194/1235)*10000%)/100;*/
/*chachテキストの高さ*/

$service-color:#37DDB8;
$chach_txt:15;


.sp-contents{
  @include respond(xs){
  background: #fff;
  padding: 15px 0 20px;
  margin-bottom: 10px;
}
}

.top_inner {

  margin: 0 auto;
  width: 100%;
  text-align: left;
  background: #fff;
  position: relative;

  @include respond(xs){
    padding-bottom:10px;
  }



  .subtitle{

    position:absolute;
    left:40px;
    top:50%-$chach_txt;
    z-index:2;

    @include respond(md){

      left:20px;
      top:50%-20;
      @include widtnPercent(768,600);

    }

    @include respond(xs){

      left:20px;
      top:50%-25;
      @include widtnPercent(768,600);

    }

    svg{
      /*width: 800px;*/
      @include respond(pc){
        width: 700px;
      }

      //tbとsp
      @include respond(md){
        width:100%;
      }

      @include respond(xs){
        width:100%;
      }

    }

    .defs{
      display: none;
    }
  }

  
  .top-img{

    background: url(../img/top/img_top.jpg) no-repeat 0 0;
    background-position:left center;
    background-size:cover;
    padding-top: calc(100% * 400 / 850);
    z-index: -1;
    margin-left: (230 / 1080) *100%;

  }
}

/*共通*/
.top-contents {

  .readtxt{
    width: 100%;
    text-align: right;
    padding-right: 20px;
    margin-top: 15px;
    letter-spacing: -0.09em;

    @include respond(md){
      padding-right: 0px;
    }

    @include respond(xs){
      padding-right: 0px;
      text-align: center;
      border-top: 1px solid $bordercolor;
      margin-top: 15px;
      padding-top: 20px;
      display: block;

    };

    span{
      border-bottom: 1px solid $btcolor;
      display: inline-block;
      margin-right: 10px;
      vertical-align: middle;
      width: 50px;

      @include respond(xs){
        display: none;
      }


    }



    a{
      text-decoration: none;
      font-weight: bold;
      color: #0EBECA;
      @include fts(16);

      &:hover{
        color: $bthovercolor;
      }

      @include respond(xs){
        @include fts(13);
        color:$txtxcolor;
      }


    }
  }

  margin-top: 50px;

  @include respond(md){

    @include widtnPercent(768,728);
    @include center();
    margin-top:40px;

  };

  @include respond(xs){
    margin-top:0px;

    @include widtnPercent(375,345);
    @include center();

  };

  h3{

    @include fts(14,20);
    margin-bottom: 20px;
    color: #4A4A4A;
    display: inline-block;

    @include respond(md){
      margin-bottom: 10px;
    }

    @include respond(xs){
      margin-bottom:6px;
      display: block;
      color: #515151;
      @include fts(12,20);
    }

    span.sp{

      display: none;

      @include respond(xs){
        display: block;
        @include fts(14);
        color: #262626;
        margin-bottom: 10px;
        font-weight: normal;
      }
    }

    span.pc{

      display: block;

      @include respond(xs){
        display: none;
      }
    }





  }

  .main-chach {

    @include fts(16,32);
    margin-bottom: 5px;

  }

  p{

    @include fts(15,33);
    @include widtnPercent(1100,1050);

    @include respond(md){
      @include fts(16,30);
      width: 100%;
    }

    @include respond(xs){
      @include fts(13,24);
      width: 100%;
    }



  }
}

/*service*/

$servive-margin:8px;
$service-color:#f1f1f1;

.service-box{

  margin-top: $basemt;
  background: #f1f1f1;

  letter-spacing: -.40em;//隙間消去用
  padding-bottom: 1.04%;

  @include respond(md){
    padding-bottom: 1.04%;
    letter-spacing: -.40em;//隙間消去用
    @include cf();
  }

  @include respond(xs){
    margin-top: 20px;
    background: #f2f2f2;

  }



  .service-name{

    letter-spacing:normal;//隙間消去用

    @include respond(pc){

    @include widtnPercent(1080,260);
    display: inline-block;
    vertical-align: top;
    letter-spacing:normal;//隙間消去用
    margin-top: 0.74%;
    margin-left: 0.74%;
  }

    @include respond(md){
      @include widtnPercent(768,182);
      float: left;
      letter-spacing:normal;//隙間消去用
      margin-top: 1.04%;
      margin-left: 1.04%;

    }

    @include respond(xs){
      width: 100%;
      @include center();
      padding-left: 0.74%;
      padding-right: 0.74%;
    };
  }

  .service-title{
    text-align: center;
    background: #fff;
    padding: 30px 0;
    border-bottom: 1px solid $service-color;

    @include respond(xs){
      padding: 3% 0 3% 5%;
      background: #f2f2f2;
      text-align: left;

    }

    em{
      @include fts(15);
      font-weight: bold;
      display: block;
      position: relative;
      padding-bottom: 23px;

      @include respond(md){
        @include fts(13);
      }
      @include respond(xs){
        @include fts(13);
        padding-bottom:0px;
      }



      &:before,&:after{
        background: #00C793;
        bottom: 9px;
        content: "";
        height: 2px;
        left: 0;
        margin: auto;
        position: absolute;
        right: 0;
        width: 25px;

        @include respond(xs){
          display: none;
        }

      }
    }

    span{
      display: block;
      @include fts(9);
      font-weight: normal;

      @include respond(xs){
        display: none;
      }


    }
  }

  .service-detail{
    background: #fff;
  }

  .service-detail{
    padding: 20px 20px 25px;
    @include fts(13,22);
    display: flex;

    @include respond(xs){
      padding: 5.3% 5.3% 6.6%;
    };

    ul{
      margin-top: -5px;

      @include respond(xs){
        width: 100%;
      };

    }

    li{
      list-style: inside;
      margin-top: 5px;
    }
  }

}


/*work*/
