.top_inner {
  margin: 0 auto;
  width: 100%;
  text-align: left;
  background: #fff;
  position: relative;

  .subtitle{
    position:absolute;
    left:0px;
    top:130px;
    z-index:2;
    width: 100%;

    svg{
      width: 50%;
      fill:#000000;
    }
  }


  .top-img{
    background: url(../img/top/img_top.jpg) no-repeat 0 0;
    background-position:left center;
    background-size:cover;
    padding-top: calc(100% * 300 / 850);
    z-index: -1;
    margin-left: (230 / 1080) *100%;
    min-width: 850px;


    /*@include widtnPercent( 1080, 850 );
    background: url(../img/top/img_top.jpg) no-repeat 0 0;
    padding-bottom: calc(100% * 600 / 850);
    background-size: 100% auto;
    z-index: -1;*/
    /*@include backgroundsize(600, 850);
    @include widtnPercent( 1080, 850);*/
    /*width: 860px;
    height: 100%;*/
    /*clip: rect(0px, 850px, 600px, 0px);*/
    //background-size: cover;
    /*@include backgroundsize(600,850);*/
  }
}
