@charset "utf-8";

//変数定義
$main_size: 1080px;

//デバイスブレイクポイント
$sm-device-width: 640px;
// $md-device-width: 750px;
$md-device-width: 768px;
$lg-device-width: 1080px;
$xl-device-width: 1280px;

//各コンテンツ
$basewidth:1280px;
$mainwidth:1200px;
$minwidth:1000px;

$spwidth:750px;


$basebg:#1e9fc6;


/*フォントカラー*/

$basecolor:#444;
$txtcolor:#5B5B5B;


/*リンクカラー*/
$linkcolor:#2975CE;

/*ボーダー*/
$bordercolor:#E9E9E9;

/*マージン*/
$basemt:30px;

/*スマホ*/
$spwidth:375px;
